{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

	<div class="mt-24 flex flex-col items-center justify-center">
		<div class="flex flex-row-reverse items-center justify-center mb-24 ">
			
			<img class="h-56" src="{{ asset('img/papier.webp') }}" alt="Papier">
			<div class="baseline flex-col mr-20">
				<h1 class="text-4xl pb-5">Formulaire Voiture</h1>
				<p class="mb-5  w-96">Veuillez remplir le formulaire d'immatriculation de votre véhicule avec soin pour garantir une procédure fluide et rapide. Les informations fournies dans ce formulaire sont essentielles pour identifier et enregistrer votre voiture conformément aux réglementations locales.
				</p>

				<a href="{{ path('car_registration') }}" class="relative inline-flex items-center px-12 py-3 overflow-hidden text-lg font-medium text-blue-500 border-2 border-blue-500 rounded-full hover:text-white group hover:bg-gray-50">
					<span class="absolute left-0 block w-full h-0 transition-all bg-blue-500 opacity-100 group-hover:h-full top-1/2 group-hover:top-0 duration-400 ease"></span>
					<span class="absolute right-0 flex items-center justify-start w-10 h-10 duration-300 transform translate-x-full group-hover:translate-x-0 ease">
						<svg class="w-5 h-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
						</svg>
					</span>
					<span class="relative">Formulaire</span>
				</a>
			</div>
		</div>

		<div class="flex items-center justify-center pb-5">
			<img class="h-64" src="{{ asset('img/voiture.webp') }}" alt="Voiture">
			<div class="flex flex-col ml-20">
				<h1 class="text-4xl mb-10 ">ServiceAdministratif™</h1>
				<p class="w-96 baseline">
					Notre site web se distingue comme la meilleure option pour mettre à jour votre plaque d'immatriculation 
					sur un site administratif. Grâce à notre interface conviviale et intuitive, le processus de mise à jour 
					devient rapide et sans tracas. Nous comprenons l'importance de la conformité aux réglementations locales, 
					c'est pourquoi notre site est constamment mis à jour pour refléter les dernières exigences administratives. 
				</p>
			</div>
		</div>
	</div>
{% endblock %}

