{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <div class="mt-24 flex items-center justify-center">
        <div class="w-96 h-96 bg-red-200">
        </div>
        <div class="mx-10 flex flex-col">
            <h1 class="text-4xl text-red-500">Heading 1</h1>
            <p>loknerbjkzernjkverkjvnerjkvjkzenvjkzer jkze jkzerf ozeik zejikfze jkbzek.</p>
        </div>
    </div>

{% endblock %}
