{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}


    <div>
        <h1>Heading 1</h1>
        <p>loknerbjkzernjkverkjvnerjkvjkzenvjkzer jkze jkzerf ozeik zejikfze jkbzek.</p>
    </div>

{% endblock %}
