{% extends 'base.html.twig' %}

{% block title %}Immat Voiture{% endblock %}

{% block body %}

    <div class="mt-24 flex flex-col items-center justify-center">
        <h1 class="text-2xl font-bold">Mes Immatriculations</h1>
        <div class="flex flex-col">

        </div>
    </div>
{% endblock %}

