{% extends 'base.html.twig' %}

{% block title %}Se Connecter{% endblock %}

{% block body %}


    <div class="my-44 flex flex-col items-center justify-center">
    <h1 class="text-2xl mb-10 font-bold">Se connecter</h1>
    <form class="flex flex-col" action="{{ path('app_login') }}" method="post">
        <div class="mb-4 flex flex-col items-center">
            <label for="username" class="text-sm font-medium">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="px-4 py-2 rounded-lg border focus:ring focus:ring-blue-300 focus:border-blue-300">
        </div>

        <div class="mb-4 flex flex-col items-center">
            <label for="password" class="text-sm font-medium">Mot de passe:</label>
            <input type="password" id="password" name="_password" class="px-4 py-2 rounded-lg border focus:ring focus:ring-blue-300 focus:border-blue-300">
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out">Connexion</button>
    </form>
</div>

{% endblock %}