{% extends 'base.html.twig' %}

{% block title %}New CarRegistration{% endblock %}

{% block body %}
    <div class="text-center">
        <img class="h-24 mx-auto" src="{{ asset('img/favicon.webp') }}" alt="Logo">
    </div>
    {{ include('car_registration/_form.html.twig') }}
{% endblock %}