{% extends 'base.html.twig' %}

{% block title %}Mon immatriculation{% endblock %}

{% block body %}
    <h1>Créer nouvelle immatriculation</h1>

    {{ include('car_registration/_form.html.twig') }}

{% endblock %}
